<nav class="nav-menu" aria-label="メインナビゲーション">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        Home
    </NavLink>

    <a class="nav-link" href="#topics">
        Topics
    </a>
</nav>
